@media screen and ( max-width: 1200px )
    html
        font-size: 12px
    .nav
        &__item
            margin-right: 1rem

@media screen and ( max-width: 992px )
    .hero
        &__instagram
            display: none
        &__content
            margin-left: 0
    .nav
        display: none

@media screen and ( max-width: 570px  )
    .contacts
        &__phone
            margin-right: 0
            color: $light
            text-decoration: none
        &__button
            display: none
    .title
        font-size: 1.91rem
    .hero
        &__scroll-down
            display: none
        &__content
            max-width: 26.75rem
        &__text
            font-size: 1.5rem
            margin-bottom: 2.66rem
        &__button
            display: block
            width: 100%
            margin-bottom: 2.17rem
            margin-right: 0
@media screen and ( max-height: 540px  )
    .hero
        &__scroll-down
            display: none
    
            

    